
.container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    background-image: url("images/not-found.svg");
    width: 600px;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    margin: auto;
    padding-top: 80px;
}