.news-page__title {
    text-align: center;
}

.news-page__img {
    width: 70%;
    border-radius: 20px;
}

.news-page__container {
    align-items: center;
}

.news-page__right-toolbar {
    align-items: center;
    width: 200px;
}