.news-grid {
    position: relative;
}
.news-item__image {
    width: 100%;
    height: 60%;
    border-radius: 10px 0 10px 0;
    margin-bottom: 8px;
}

.news-item__description {
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: space-between;
}

.news-item__author {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 50%;
}

.news-item__title {
    font-size: 16px;
    line-height: 17px;
    height: 68px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 0;
}

.item__p {
    margin: 0;
    font-size: 10px;
    font-weight: 700;
    color: var(--black);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 11px;
    height: 22px;
    padding-left: 8px;
}

.news-item__heart {
    cursor: pointer;
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.news-item__rating {
    align-items: center;
}